In [6]:
## Challenge 1 - Variable swap
a = 10
b = 20
print(b,a)

20 10

In [ ]:
## Challenge 2 - Type checking
a = 20
name = "Jackline"
is_student = True
cash = 1000.50
cars = ["Toyota", "Ford", "Honda", "BMW"]
print(type(a))
print(type(name))
print(type(is_student))
print(type(cash))
print(type(cars))

## NUMERIC OPERATIONS
## Challenge 3 calculator

In [13]:

#Challenge 3: Calculator
# Given two numbers, perform all arithmetic operations
num1 = 15
num2 = 4
# Calculate and print: addition, subtraction, multiplication, division,
# floor division, modulus, and exponentiation
sum = num1 + num2
sub = num2 - num1
multiply = num1 * num2
division = num1 / num2
floorDivision = num1 // num2
modulus = num1 % num2
exponentiation = num1 ** num2

print(sum)
print(sub)
print(multiply)
print(division) 
print(floorDivision)
print(modulus)
print(exponentiation)

19
-11
60
3.75
3
3
50625

## Challenge 4: Temperature Converter

In [2]:
# Convert Celsius to Fahrenheit
# Formula: F = (C * 9/5) + 32
celsius = float(input("Enter temperature in celsius: "))
fahrenheit = (celsius * 9/5) + 32
print("Temperature in fahrenheit:", fahrenheit)

Enter temperature in celsius:  100

Temperature in fahrenheit: 212.0

## Challenge 5: String Manipulation

In [17]:
# Given a string, print: 
# - Its length 
# - All uppercase 
# - All lowercase 
# - First 3 characters 
# - Last 3 characters 
# - Reversed string 
text = "Python Programming" 
print(len(text))
uppercase_letters = ''.join([char for char in text if char.isupper()])
print(uppercase_letters)

lowercase_letters = ''.join([char for char in text if char.lower()])
print(lowercase_letters)

print(text[0:3])
print(text[15:])
print(text[::-1])

18
PP
Python Programming
Pyt
ing
gnimmargorP nohtyP

## Challenge 6: String Concatenation

In [25]:
# Create a full name from first and last name 
first_name = "John" 
last_name = "Doe" 
# Create full_name and print it in format: "Doe, John" 
print(f"{first_name}, + {last_name}")

John, + Doe

## Boolean & Conditional Statements 
## Challenge 7: Even or Odd

In [28]:
# Check if a number is even or odd 
number = 17
# Print "Even" or "Odd" 
if number % 2 == 0:
    print("Even")
else:
    print("Odd")

Even

## Challenge 8: Grade System

In [53]:
# Assign grades based on score 
# 90-100: A, 80-89: B, 70-79: C, 60-69: D, below 60: F 
score = 
# Your code here 
if score >= 89:
    print("A")
elif score >= 80:
    print("B")

elif score >=70:
    print("C")
elif score >= 60:
    print("D")
elif score <= 60:
    print("F")
else:
    print("No marks")

F

## Challenge 9: Leap Year Checker

In [63]:
# Check if a year is a leap year 
# Rules: divisible by 4, but not by 100, unless also divisible by 400 
year = 2024
# Print "Leap year" or "Not a leap year" 
if year % 4 == 0:
    print("Leap year")
else:
    print("Not Leap year")

Leap year

## Challenge 10: Largest of Three

In [66]:
# Find the largest of three numbers
a = 25 
b = 52 
c = 300 
# Print the largest number
if a >= b and a >= c:
    print("a")
elif b >= a and b >= c:
    print("b")
elif c >= a and c >= b:
    print("c")

c

## Lists

## Challenge 11: List Operations

In [77]:
# Create a list of 5 numbers and: 
numbers = [10, 20, 30, 40, 50] 
# - Print the list 
print(numbers)
# - Add a number at the end 
numbers.append(70)
print(numbers)
# - Remove the first element 
numbers.remove(10)
print(numbers)
# - Print the length
print(len(numbers))
# - Print the sum of all elements 
print(sum(numbers))

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50, 70]
[20, 30, 40, 50, 70]
5
210

## Challenge 12: List Indexing

In [87]:
# Given a list, print specific elements 
fruits = ["apple", "banana", "cherry", "date", "elderberry"] 
# Print: first item, last item, middle item, items at even indices 

print(fruits[0])
print(fruits[4])
print(fruits[2])
print(fruits[::2])

apple
elderberry
cherry
['apple', 'cherry', 'elderberry']

## Loops 
## Challenge 13: Print Pattern

In [ ]:
# Print numbers from 1 to 10 
# Use a loop 
# for loop
for num in range (1, 11):
    print(num)