In [1]:
## imports
import pandas as pd
import numpy as np

In [4]:
## load dataset and chcek the fisrt 5 rows and the last 5 rows
df = pd.read_csv('students.csv')
df.head()
##df.tail()

,student_id,name,age,gender,major,gpa,credits_completed,scholarship,attendance_rate,exam_score,assignment_score,participation_score,city,enrollment_year,graduation_status
0,1001,Alice Johnson,NaN,F,Computer Science,3.8,NaN,Yes,95,88,92,85,New York,2022,Enrolled
1,1002,Bob Smith,22.0,M,Mathematics,3.2,78.0,No,82,75,78,70,Boston,2020,Enrolled
2,1003,Carol White,21.0,F,Physics,3.9,60.0,Yes,98,95,94,90,Chicago,2021,Enrolled
3,1004,David Brown,23.0,M,Engineering,2.8,90.0,No,75,68,72,65,Houston,2019,Enrolled
4,1005,Emma Davis,20.0,F,Biology,3.6,42.0,Yes,91,82,88,80,Phoenix,2022,Enrolled

In [16]:
## check random rows
df.sample(5)

,student_id,name,age,gender,major,gpa,credits_completed,scholarship,attendance_rate,exam_score,assignment_score,participation_score,city,enrollment_year,graduation_status
18,1019,Sophia Hall,21.0,F,Computer Science,3.6,56.0,Yes,89,83,86,79,Washington,2021,Enrolled
11,1012,Liam Jackson,24.0,M,Chemistry,2.7,98.0,No,72,65,68,62,Jacksonville,2018,Graduated
3,1004,David Brown,23.0,M,Engineering,2.8,90.0,No,75,68,72,65,Houston,2019,Enrolled
16,1017,Quinn Lewis,20.0,F,Biology,3.7,46.0,Yes,92,84,87,81,Seattle,2022,Enrolled
0,1001,Alice Johnson,NaN,F,Computer Science,3.8,NaN,Yes,95,88,92,85,New York,2022,Enrolled

In [6]:
## how to chcek data info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   student_id           30 non-null     int64
 1   name                 30 non-null     object
 2   age                  29 non-null     float64
 3   gender               30 non-null     object
 4   major                30 non-null     object
 5   gpa                  30 non-null     float64
 6   credits_completed    29 non-null     float64
 7   scholarship          30 non-null     object
 8   attendance_rate      30 non-null     int64
 9   exam_score           30 non-null     int64
 10  assignment_score     30 non-null     int64
 11  participation_score  30 non-null     int64
 12  city                 30 non-null     object
 13  enrollment_year      30 non-null     int64
 14  graduation_status    30 non-null     object
dtypes: float64(3), int64(6), object(6)
memory usage: 3.6+ KB

In [7]:
## chceking the description of the data
df.describe()

,student_id,age,gpa,credits_completed,attendance_rate,exam_score,assignment_score,participation_score,enrollment_year
count,30.000000,29.000000,30.000000,29.000000,30.000000,30.000000,30.000000,30.000000,30.000000
mean,1015.500000,21.793103,3.320000,69.724138,85.500000,78.500000,81.600000,74.800000,2020.266667
std,8.803408,1.448628,0.478071,19.815031,9.368877,10.078143,9.849208,10.046101,1.460593
min,1001.000000,20.000000,2.400000,41.000000,68.000000,60.000000,64.000000,58.000000,2018.000000
25%,1008.250000,21.000000,2.925000,55.000000,78.250000,70.750000,74.250000,66.250000,2019.000000
50%,1015.500000,22.000000,3.400000,72.000000,88.000000,79.500000,82.500000,76.000000,2020.500000
75%,1022.750000,23.000000,3.700000,88.000000,93.750000,86.750000,89.750000,82.750000,2021.750000
max,1030.000000,24.000000,4.000000,99.000000,99.000000,96.000000,98.000000,95.000000,2022.000000

In [10]:
## checking  column names
df.columns

Index(['student_id', 'name', 'age', 'gender', 'major', 'gpa',
       'credits_completed', 'scholarship', 'attendance_rate', 'exam_score',
       'assignment_score', 'participation_score', 'city', 'enrollment_year',
       'graduation_status'],
      dtype='object')

In [15]:
## checking duplicates
df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
dtype: bool

In [11]:
## checking for null values
df.isna().sum()

student_id             0
name                   0
age                    1
gender                 0
major                  0
gpa                    0
credits_completed      1
scholarship            0
attendance_rate        0
exam_score             0
assignment_score       0
participation_score    0
city                   0
enrollment_year        0
graduation_status      0
dtype: int64

In [17]:
## checking data of a specific column 
Age = df['age']
print(Age)

0      NaN
1     22.0
2     21.0
3     23.0
4     20.0
5     24.0
6     21.0
7     22.0
8     20.0
9     23.0
10    21.0
11    24.0
12    20.0
13    22.0
14    21.0
15    23.0
16    20.0
17    24.0
18    21.0
19    22.0
20    20.0
21    23.0
22    21.0
23    24.0
24    20.0
25    22.0
26    21.0
27    23.0
28    20.0
29    24.0
Name: age, dtype: float64

In [21]:
Age =df['age'].fillna(1000)
print(Age)

0     1000.0
1       22.0
2       21.0
3       23.0
4       20.0
5       24.0
6       21.0
7       22.0
8       20.0
9       23.0
10      21.0
11      24.0
12      20.0
13      22.0
14      21.0
15      23.0
16      20.0
17      24.0
18      21.0
19      22.0
20      20.0
21      23.0
22      21.0
23      24.0
24      20.0
25      22.0
26      21.0
27      23.0
28      20.0
29      24.0
Name: age, dtype: float64

In [25]:
credits_completed =df['credits_completed']
print(credits_completed )

0      NaN
1     78.0
2     60.0
3     90.0
4     42.0
5     95.0
6     55.0
7     72.0
8     48.0
9     85.0
10    58.0
11    98.0
12    44.0
13    75.0
14    62.0
15    88.0
16    46.0
17    96.0
18    56.0
19    74.0
20    47.0
21    86.0
22    59.0
23    97.0
24    43.0
25    76.0
26    61.0
27    91.0
28    41.0
29    99.0
Name: credits_completed, dtype: float64

In [29]:
credits_completed =df['credits_completed'].mean()
print(credits_completed )

69.72413793103448

In [30]:
credits_completed =df.fillna(df['credits_completed'].mean())
print(credits_completed )

    student_id           name        age gender             major  gpa  \
0         1001  Alice Johnson  69.724138      F  Computer Science  3.8
1         1002      Bob Smith  22.000000      M       Mathematics  3.2
2         1003    Carol White  21.000000      F           Physics  3.9
3         1004    David Brown  23.000000      M       Engineering  2.8
4         1005     Emma Davis  20.000000      F           Biology  3.6
5         1006   Frank Miller  24.000000      M         Chemistry  2.5
6         1007   Grace Wilson  21.000000      F  Computer Science  3.7
7         1008    Henry Moore  22.000000      M       Mathematics  3.4
8         1009     Ivy Taylor  20.000000      F       Engineering  3.9
9         1010  Jack Anderson  23.000000      M           Physics  3.1
10        1011    Kate Thomas  21.000000      F           Biology  3.5
11        1012   Liam Jackson  24.000000      M         Chemistry  2.7
12        1013     Mia Martin  20.000000      F  Computer Science  3.8
13        1014       Noah Lee  22.000000      M       Mathematics  3.3
14        1015  Olivia Harris  21.000000      F           Physics  4.0
15        1016     Paul Clark  23.000000      M       Engineering  2.9
16        1017    Quinn Lewis  20.000000      F           Biology  3.7
17        1018    Ryan Walker  24.000000      M         Chemistry  2.6
18        1019    Sophia Hall  21.000000      F  Computer Science  3.6
19        1020   Thomas Allen  22.000000      M       Mathematics  3.2
20        1021      Uma Young  20.000000      F       Engineering  3.8
21        1022    Victor King  23.000000      M           Physics  3.0
22        1023   Wendy Wright  21.000000      F           Biology  3.4
23        1024   Xavier Lopez  24.000000      M         Chemistry  2.8
24        1025      Yara Hill  20.000000      F  Computer Science  3.9
25        1026     Zack Scott  22.000000      M       Mathematics  3.1
26        1027      Amy Green  21.000000      F           Physics  3.7
27        1028      Ben Adams  23.000000      M       Engineering  2.7
28        1029    Chloe Baker  20.000000      F           Biology  3.6
29        1030     Dan Nelson  24.000000      M         Chemistry  2.4

    credits_completed scholarship  attendance_rate  exam_score  \
0           69.724138         Yes               95          88
1           78.000000          No               82          75
2           60.000000         Yes               98          95
3           90.000000          No               75          68
4           42.000000         Yes               91          82
5           95.000000          No               70          62
6           55.000000         Yes               93          86
7           72.000000          No               88          79
8           48.000000         Yes               97          92
9           85.000000          No               80          74
10          58.000000         Yes               90          81
11          98.000000          No               72          65
12          44.000000         Yes               94          87
13          75.000000          No               85          77
14          62.000000         Yes               99          96
15          88.000000          No               78          70
16          46.000000         Yes               92          84
17          96.000000          No               71          63
18          56.000000         Yes               89          83
19          74.000000          No               84          76
20          47.000000         Yes               96          90
21          86.000000          No               79          73
22          59.000000         Yes               88          80
23          97.000000          No               73          66
24          43.000000         Yes               95          89
25          76.000000          No               83          75
26          61.000000         Yes               94          88
27          91.000000          No               76          69
28          41.000000         Yes               90          82
29          99.000000          No               68          60

    assignment_score  participation_score           city  enrollment_year  \
0                 92                   85       New York             2022
1                 78                   70         Boston             2020
2                 94                   90        Chicago             2021
3                 72                   65        Houston             2019
4                 88                   80        Phoenix             2022
5                 65                   60   Philadelphia             2018
6                 89                   82    San Antonio             2021
7                 81                   75      San Diego             2020
8                 95                   88         Dallas             2022
9                 76                   68       San Jose             2019
10                85                   78         Austin             2021
11                68                   62   Jacksonville             2018
12                91                   84  San Francisco             2022
13                80                   72       Columbus             2020
14                98                   95      Charlotte             2021
15                74                   66   Indianapolis             2019
16                87                   81        Seattle             2022
17                67                   61         Denver             2018
18                86                   79     Washington             2021
19                79                   71      Nashville             2020
20                93                   86        Detroit             2022
21                75                   67       Portland             2019
22                84                   77      Las Vegas             2021
23                69                   63        Memphis             2018
24                92                   85     Louisville             2022
25                78                   70      Baltimore             2020
26                90                   83      Milwaukee             2021
27                71                   64    Albuquerque             2019
28                87                   79         Tucson             2022
29                64                   58         Fresno             2018

   graduation_status
0           Enrolled
1           Enrolled
2           Enrolled
3           Enrolled
4           Enrolled
5          Graduated
6           Enrolled
7           Enrolled
8           Enrolled
9           Enrolled
10          Enrolled
11         Graduated
12          Enrolled
13          Enrolled
14          Enrolled
15          Enrolled
16          Enrolled
17         Graduated
18          Enrolled
19          Enrolled
20          Enrolled
21          Enrolled
22          Enrolled
23         Graduated
24          Enrolled
25          Enrolled
26          Enrolled
27          Enrolled
28          Enrolled
29         Graduated